.team-members {
    display: flex;
    gap: 30px;
}

.team {
    background-color: var(--second-bcg-color);
}

.member {
    padding-top: 30px;
    padding-bottom: 30px;
    
    &-title {
    @include font(16px, 500, 1.19);

    display: block;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
}
    &-position {
    @include font(16px, 400, 1.19);

    display: block;
    margin-bottom: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
}
}



.team-item {
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-icon {
    display: flex;
    align-items: center;
}

.social-icon:not(:first-child) {
    margin-left: 10px;
}

.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    background: var(--primary-background-color);
    border-radius: 50%;
    justify-content: center;
}

.social-link:hover {
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link svg {
    fill: #afb1b8;
}

.social-link:hover svg {
    fill: var(--primary-background-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
